// =============================================================================
// Типографіка
// =============================================================================

@use '../abstracts' as *;

h1, h2, h3, h4, h5, h6 {
	font-weight: $fw-regular;
	line-height: $lh-tight;
	color: $color-heading;
}

p {
	margin-bottom: $space-md;

	&:last-child {
		margin-bottom: 0;
	}
}

strong {
	font-weight: $fw-medium;
}

a {
	transition: color $transition;

	&:hover {
		color: $color-primary;
	}
}
